<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand"><img src="https://ya-webdesign.com/images/svg-box-wine-bottle-2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="clickedCollapse()"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Agricultor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Productor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Distribuidor (sin fraccionar)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Bodega</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Embotellador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Distribución</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Minorista</a>
      </li>
    </ul>
  </div>
</nav>