<h1>Registro de la recepción del vino sin fraccionar</h1>
<form style="padding:50px;">
  Id bodega:<br>
  <input type="text" #IdBodega/><br><br>
 Información sobre los productos recibidos:<br>
  <textarea rows="4" cols="40" #InformacionProductos>  </textarea><br><br>
  Fecha de recepcion de los productos:<br>
  <input type="date" #RecepcionProductosBodega><br><br>
  <br>
  <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createRecepcionUvasBodega(IdBodega.value, InformacionProductos.value, RecepcionProductosBodega.value)">Guardar</button>
</form>