<div class="container">
  <br>
  <form (ngSubmit)="onsubmit(submitedForm)" #submitedForm="ngForm">
    <div class="form-group">
      <label for="idLote">Id Lote</label>
      <input class="form-control" name="idLote" id="idLote" placeholder="1234" #idProductor ngModel>
    </div>
    <div class="form-group">
      <label for="fechaSalidaProductor">Fecha de Entrada a Embotellamiento</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaEntradaEmbotellamiento" ngModel
          ngbDatepicker #d="ngbDatepicker" id="fechaSalidaProductor">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createUser(name.value)">Guardar</button>
  </form>
</div>