<div class="container">
  <br>
      Id Agricultor<br>
      <input type="text" #IdAgricultor><br>
    
      Nombre Agricultor<br>
      <input type="text" #NombreAgricultor><br>
    
      Fecha de salida de Agricultor<br>
    
        <input type="date" #FechaSalidaAgricultor><br>
        
      Fecha de Entrada a Produccion<br>

        <input type="date" #FechaEntradaProductor><br>
    
         Fecha de Salida de Procuccion<br>
      
        <input type="date" #FechaSalidaProductor><br>
     
      Fecha de Entrada de Distribucion (sin fraccionar)<br>
     
        <input type="date" #FechaEntradaDistribucion><br>
    
        Status<br>
    
      <input type="radio" #Aceptado > Aceptado<br>
      <input type="radio" #Denegado > Denegado<br><br>
    <br>
    <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createVerificacion(IdAgricultor.value, NombreAgricultor.value, FechaSalidaAgricultor.value, FechaEntradaProductor.value, FechaSalidaProductor.value, FechaEntradaDistribucion.value, Aceptado.value, Denegado.value)">Guardar</button>

    </div>
