<div class="container">
  <br>
  <form (ngSubmit)="onsubmit(submitedForm)" #submitedForm="ngForm">
    <div class="form-group">
      <label for="idAgricultor">Id Agricultor</label>
      <input class="form-control" name="idAgricultor" id="idAgricultor" placeholder="1234" #idProductor ngModel>
    </div>
    <div class="form-group">
      <label for="nombreAgricultor">Nombre Agricultor</label>
      <input class="form-control" name="nombreAgricultor" id="nombreAgricultor" placeholder="Productor1234" ngModel>
    </div>
    <div class="form-group">
      <label for="fechaSalidaProductor">Fecha de salida de Agricultor</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaSalidaAgricultor" [(ngModel)]="date"
          ngbDatepicker #d="ngbDatepicker" id="fechaSalidaProductor">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="fechaSalidaProductor">Fecha de Entrada a Procuccion</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaEntradaProductor" [(ngModel)]="date"
          ngbDatepicker #d="ngbDatepicker" id="fechaSalidaProductor">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="fechaSalidaProductor">Fecha de Salida de Procuccion</label>
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="fechaSalidaProductor" [(ngModel)]="date"
          ngbDatepicker #d="ngbDatepicker" id="fechaSalidaProductor">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar fa fa-calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>