<div class="contenedor">
<form style="padding:10px;">
  CSS:<br>
  <input type="text" name="lote"><br><br>
  Identificación:<br>
  <input type="text" name="produccion-anual"><br><br>
  Numero de lote:<br>
   <input type="text" name="produccion-anual"><br><br>
  Cantidad de vino:<br>
  <input type="text" name="origen"><br><br>
  Comentario:<br>
  <textarea rows="4" cols="40"> </textarea><br><br>
  Almacenamiento:<br>
  <input type="text" name="agua"><br><br>
  Despacho:<br>
  <input type="text" name="fertilizantes"><br><br>
  Mezcla:<br>
  <input type="text" name="recoleccion"><br><br>
  <br>
  <input type="submit" value="Registrar" /><br><br>
</form>
</div>