<h1 style="text-align:center;">Distribución Vinos</h1>
<br> 
<div class="contenedor">
<form style="padding:10px;">
  CSS:<br>
  <input type="text" name="lote" #CSS><br><br>
  Identificación:<br>
  <input type="text" name="produccion-anual" #Identificacion><br><br>
  Numero de lote:<br>
   <input type="text" name="produccion-anual" #Numerolote><br><br>
  Cantidad de vino:<br>
  <input type="text" name="origen" #CantidadVino><br><br>
  Comentario:<br>
  <textarea rows="4" cols="40" #Comentario> </textarea><br><br>
  Almacenamiento:<br>
  <input type="text" name="agua" #Almacenamiento><br><br>
  Despacho:<br>
  <input type="text" name="fertilizantes" #Despacho><br><br>
  Mezcla:<br>
  <input type="text" name="recoleccion" #Mezcla><br><br>
  <br>
  <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createVino(CSS.value, Identificacion.value, Numerolote.value, CantidadVino.value, Comentario.value, Almacenamiento.value, Despacho.value, Mezcla.value)">Guardar</button>
</form>
</div>