<h1 style="text-align: center">Registro de la recepción del vino sin fraccionar</h1>

<div class="contenedor">
<form style="padding:50px;">
  Nombre del receptor del pedido:<br>
  <input type="text" #IdProveedor/><br><br>
  Fecha de recepcion del vino:<br>
  <input type="date" #RecepcionVino><br><br>
   Fecha de venta al cliente final:<br>
  <input type="date" #VentaCliente><br><br>
  <br>
  <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createMayorista(IdProveedor.value, RecepcionVino.value, VentaCliente.value)">Guardar</button>
</form>
</div>