<div class="contenedor">
<h1>Registro de la recepción de uvas</h1>
<form style="padding:50px;">
  Id proveedor:<br>
  <input type="text" #IdProveedor/><br><br>
  Detalles de los productos:<br>
  <textarea rows="4" cols="40" #DetallesProductos>  </textarea><br><br>
  Fecha de recepcion de la uva:<br>
  <input type="date" #RecepcionUva><br><br>
  <br>
  <button class="btn btn-primary" style="background-color: darkmagenta" (click)="createRecepcionVino(IdProveedor.value, DetallesProductos.value, RecepcionUva.value)">Guardar</button>
</form>
</div>