<h1 style="text-align:center;">Registro de lotes/parcelas</h1>

<div class="contenedor">
<form style="padding:50px;">
  Lote:<br>
  <input type="text" name="lote"><br><br>
  Producción Anual:<br>
  <input type="text" name="produccion-anual"><br><br>
  Condiciones climáticas:<br>
  <textarea rows="4" cols="40"> </textarea><br><br>
  Origen:<br>
  <input type="text" name="origen"><br><br>
  Destino:<br>
  <input type="text" name="destino"><br><br>
  Contenido químico del agua:<br>
  <input type="text" name="agua"><br><br>
  Contenido químico de los fertilizantes:<br>
  <input type="text" name="fertilizantes"><br><br>
  Fecha de recolección de la uva:<br>
  <input type="date" name="recoleccion"><br><br>
  <br>
  <input type="submit"><br><br>
</form>
</div>