<h1 style="text-align:center;">Almacenamiento Vino</h1>

<div class="contenedor">
<form style="padding:50px;">
  Lote:<br>
  <input type="text" #lote><br><br>
  Proceso:<br><br>

  <select #proceso>
    <option type="radio" value="Recibido">Recibido</option>
    <option type="radio" value="Despachado">Despachado</option>
  </select>

  <br><br>
  Fecha del proceso:<br>
  <input type="date" #recoleccion><br><br>
  <br>

  <button class="btn btn-primary" style="background-color: darkmagenta"
    (click)="createAlmacenamientoVino(lote.value, proceso.value, recoleccion.value)">Guardar</button>

  </form>
</div>